version: 1.0.{build}
image: Visual Studio 2017
install:
- cmd: choco install Pester
before_build:
- cmd: nuget restore
build:
  verbosity: minimal
test:
  assemblies:
    only:
    - '**\*.Tests.dll'
after_test:
- ps: $res = Invoke-Pester -Path "." -OutputFormat NUnitXml -OutputFile TestsResults.xml -PassThru
- ps: (New-Object 'System.Net.WebClient').UploadFile("https://ci.appveyor.com/api/testresults/nunit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\TestsResults.xml))
- ps: if ($res.FailedCount -gt 0) { throw "$($res.FailedCount) tests failed."}
